[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pytest-django = "*"
psycopg2-binary = "*"

[dev-packages]
ipython = "*"
pre-commit = "*"
coverage = "*"
prospector = "*"
yapf = "*"

[requires]
python_version = "3.8"
